<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.asst.mapper.EventMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.asst.po.EventPo">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="url" property="url" />
        <result column="content" property="content" />
        <result column="startTime" property="startTime" />
        <result column="endTime" property="endTime" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, url, content, startTime, endTime, del_flag, create_time, update_time
    </sql>

</mapper>
