table {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #000000;
    border-collapse: collapse;
}

table thead {
    background-color: #bdc3c7;
}

table th,
table td {
    border: 1px solid #000000;
    text-align: center;
    white-space: nowrap;
}

.div-center {
    display: flex; /**/
    justify-content: center; /*水平居中*/
    align-items: Center; /*垂直居中*/
}

